.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

.playNow{
    color: #141414;
    font-size: 32px;
}

.link{
    color: #141414;
    font-size: 32px;
    overflow: hidden;
    display: inline-block;
}

.link::after{
    background: #141414;
}

.playNow::after{
    background: #141414;
}

.interactions{
    font-size: 32px;
}

.textCTA{
    font-size: 32px;
}

.title{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}