.container{
    overflow: hidden;
}

.project{
    white-space: nowrap;
    font-size: 80px;
}

.projectList{
    display: flex;
}

.projectLink{
    color: #141414;
    font-size: 80px;
    margin-left: 180px;
}