.container{
    overflow: hidden;
}

.project{
    white-space: nowrap;
    font-size: 10px;
}

.projectList{
    display: flex;
}

.projectLink{
    color: #141414;
    font-size: 10px;
    margin-left: 10px;
}