.container{
    position: fixed;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    top: 0;
    left: 0;
    background: #141414;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}