.container{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #141414;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}