.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

.playNow{
    color: #141414;
    font-size: 32px;
}

.playNow::after{
    background: #141414;
}

.interactions{
    font-size: 32px;
    transition: all .3s;
}

.textCTA{
    font-size: 32px;
    transition: all .3s;
}

.title{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    pointer-events: none;
}

@media screen and (max-width: 600px){
    .title{
        font-size: 20px;
    }
}